body{
    margin: 0px;
}
h1 {
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 1%, 20%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}
.navbar ul a{
    color: white;
    text-decoration: none;
    padding:20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 2%, 10%);
}
.navbar li{
    float: left;
}